h2{

    color:#8cc602 ;
}

#vistaUsuariotitle{
    color: #0088CC;
}

#editar_view_user{
    float: right;

    border-radius: 10px;
    border: solid 1px gray;
    padding-bottom: 2em;
}

#notificacion-tarea{
    background-color: #F56262;
    color: #000000;
}

footer{

padding: 10px;
width: 100%;
height: 60px;
background-color: #2969c4;
color: #ffffff;

}
